# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/
dist/

# Environment
.env
.env.*
frontend/.env
backend/.env

# Logs
*.log
logs
log/

# OS
.DS_Store
Thumbs.db




# Editor / IDE
.vscode/
.idea/

# Cache (React/Vite)
frontend/.cache/
frontend/.vite/
frontend/.next/

# Docker
docker-data/